body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#input1, #input2{
    width: 5%;
}
button{
    width: 5%;
}
#info{
    border: 1px solid black;
    width: 40%;
}